<style>
  .mainCity{margin:50px 0;display:grid;gap:5px;grid-template-columns:1fr 1fr 1fr 1fr}.mainCity div{display:grid;padding:10px 5px;place-items:center;border-radius:5px;background:white;border:1px solid rgba(226,232,240,.8)}.mainCity div h3,.mainCity div p{margin:0;padding:0}.mainCity div h3{font-weight:700}@media (max-width:640px){table{width:100%}.mainCity{grid-template-columns:1fr 1fr}#city{font-size:14px}#time{font-size:12px}}
</style>
<div class="mainCity">
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
  <div>
    <a id="city_url">
      <h3 id="city"></h3>
    </a>
    <p id="time"></p>
  </div>
</div>
<script>
  const city=document.querySelectorAll("#city"),time=document.querySelectorAll("#time"),url=document.querySelectorAll("#city_url"),timezone=["Europe/London","America/New_York","Asia/Tokyo","Europe/Paris","Asia/Kolkata","America/Los_Angeles","Asia/Shanghai","Asia/Seoul"];time.forEach((b,a)=>{let c=new Date().toLocaleString("en-us",{timeZone:timezone[a],timeStyle:"medium"});b.innerText=c,city[a].innerText=timezone[a].split("/")[1].replace("_"," "),url[a].href=`/worldclock/${timezone[a].split("/")[1].replace("_","-")}`})
</script>