<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% seo %}<link rel="stylesheet" href="/assets/css/main.css" />
<link rel="stylesheet" href="/assets/css/responsive.css"/>
<link rel="icon" type="image/x-icon" href="/assets/other/icon.svg"/>
<link rel="apple-touch-icon image_src" href="/assets/other/icon.svg"/>
<script src="/assets/js/main.js" defer></script>
<!-- adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3746194365105294" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9V9MTM9GZQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-9V9MTM9GZQ');
</script>
