:root {
  --theme: rgb(59 130 246);
  --hover: rgb(29 78 216);
  --light: rgb(255, 255, 255);
  --dark: rgb(17 24 39);
  --shadow: rgba(0, 0, 0, 0.1);
  --border: rgba(0, 0, 0, 0.5);
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--dark);
  font: 400 1rem var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.none {
  display: none;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.text-center {
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--hover);
}
header {
  display: grid;
  grid-gap: 10px;
  padding: 20px;
  align-items: center;
  box-shadow: 0 3px 5px var(--shadow);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.logo {
  grid-column: span 4;
}
.logo a {
  font: 500 1.4rem var(--font-family);
}
.toggle {
  grid-column: span 1;
  justify-self: flex-end;
}
nav {
  display: grid;
  grid-gap: 10px;
  text-align: center;
  grid-column: span 5;
}
main {
  width: 90%;
  margin: 40px auto;
}
article {
  width: 90%;
  margin: 30px auto;
}
article h1 {
  text-align: center;
}
.contact_form {
  margin: auto;
}
.contact_form form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
input,
textarea,
button,
select,
.btn {
  outline: none;
  padding: 10px 12px;
  border-radius: 5px;
  font-family: var(--font-family);
  border: 1px solid var(--border);
}
input[type="button"],
button,
.btn {
  color: var(--light);
  background: var(--theme);
}
input[type="button"]:hover,
button:hover,
.btn:hover {
  color: var(--light);
  background: var(--hover);
}
option{
  padding: 8px;
}
img {
  max-width: 100%;
}
footer {
  top: 100%;
  display: flex;
  padding: 20px 0;
  position: sticky;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(248 250 252);
}
footer .footer_in {
  display: flex;
  gap: 10px;
}
footer .copy {
  font-weight: 600;
}
