@media (max-width: 639px) {
  .smnone {
    display: none;
  }
}
/* for small screens */
@media (min-width: 640px) {
}
/* for tabs */
@media (min-width: 768px) {
  header {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: space-between;
  }
  .toggle {
    display: none;
    grid-column: auto;
  }
  nav {
    grid-gap: 20px;
    grid-auto-flow: column;
  }
  main {
    width: 60%;
    margin: 40px auto;
  }
  article {
    width: 70%;
    margin: 40px auto;
  }
  .home_post h2 {
    font: 400 1.3rem var(--font-family);
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
/* for desktops */
@media (min-width: 1024px) {
  article {
    width: 50%;
    margin: 50px auto;
  }
}
