<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
  <link rel="stylesheet" href="/assets/css/datastorage.css"/>
  <script src="/assets/js/min.datastorage.js" defer></script>
</head>
<body>
{% include header.html %}
  <article>
    <h1>{{page.title}} Converter</h1>
    {% include datastorageconverter.html %}
    {{content}}
    <section style="margin-top:30px">
      <h3>More Digital Storage Converter:</h3>
      <div>
        <ul class="myList">{% for data in site.datastorage %}{% assign mod = forloop.index | modulo: 11 %}{% if mod == 0 %}
        <li><a href="{{data.url}}">{{data.title}}</a></li>{% endif %}{% endfor %}
        </ul>
      </div>
    </section>
  </article>
  {% include footer.html %}
</body>
</html>