<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
<link rel="stylesheet" href="/assets/css/home.css"/>
</head>
<body>
  {% include header.html %}
  <main>
    <div class="home_heading">
      <img src="/assets/other/icon.svg" alt="Webtool">
      <h1><b>Free Online Calculators & Tools</b></h1>
    </div>
    <div class="home_post">{% for post in site.posts %}
      <a href={{post.url}}>
        <div>
          <h2>{{post.title}}</h2>
        </div>
      </a>{% endfor %}
      <a href='https://frontendnode.com/' target="_blank">
        <div>
          <h2>More Tools</h2>
        </div>
      </a>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>