<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
  <link rel="stylesheet" href="/assets/css/length.css"/>
  <script src="/assets/js/min.length.js" defer></script>
</head>
<body>
{% include header.html %}
  <article>
    <h1>{{page.title}}</h1>
    {% include lengthconverter.html %}
    {{content}}
    <section style="margin-top:30px">
      <h3>More Length Converter:</h3>
      <div class="all-length">
        <ul class="myList">{% for len in site.length %}
        <li><a href="{{len.url}}">{{len.heading}}</a></li>{% endfor %}
        </ul>
      </div>
    </section>
  </article>
  {% include footer.html %}
</body>
</html>