<!DOCTYPE html>
<html lang="en">

<head>
  {% include head.html %}
  <style>

  </style>
</head>

<body>
  {% include header.html %}
  <article>
    <h1>{{page.title}}</h1>
    <p id="loc">{{post.loc}}</p>
    {{content}}
  </article>
  {% include footer.html %}

  <script>
    const loc = document.querySelector('#loc');

    const option = {
      timeZoneName: 'short',
      era: 'long',
    }

    const time_zone = 'Asia/Calcutta'

    const time = {
      timeZone: time_zone,
      hour12: true,
      hour: 'numeric',
      minute: 'numeric',
      second: 'numeric',
    }

    const option1 = {
      timeZone: time_zone,
      timeZoneName: 'long',
      era: 'short',
      year: 'numeric',
      month: 'long',
      weekday: 'long',
    }

    setInterval(() => {
      const date = new Date();
      const showTime = date.toLocaleString('en-au', time);

      loc.innerText = showTime
    }, 1000)

    console.log(new Date().toLocaleString('en-au', option));
  </script>
</body>

</html>