<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <style>
    .timenow {padding: 6px;font-size: 3rem;font-weight: 600;border-radius:2px;display:inline-block;background:rgb(248 250 252)}#ft {font-weight:bold}article h1{text-align:left;font-weight:600}p#ft{font-size:1.2rem}#std{padding:8px;font-weight:500;display:inline-block;background:rgb(248 250 252)}.flagHeading{display:flex;justify-content:space-between;background:lightblue;padding:5px;margin:20px 0}.flagHeading img{background:rgba(0, 0, 0, 0.1);padding:4px}.nowTime{border:1px solid rgba(0, 0, 0, 0.1);padding:5px;display:flex;justify-content:space-between;align-items:center}@media(max-width:786px){.nowTime{flex-direction:column}}
  </style>
  <script src="/assets/js/min.analogclock.js" defer></script>
</head>
<body>
  {% include header.html %}
  <article>
    <div class="flagHeading">
      <h1>{{page.title | replace: '_',' '}}</h1>
      <img width="100" height="auto" src="/assets/flag/4x3/{{ page.iso | downcase }}.svg" alt="{{page.name}}" />
    </div>
    <div class="timeBox">
      <div class="nowTime">
        <div>
          <h2 id="timenow" class="timenow"></h2>
          <p id="ft"></p>
        </div>
        <div class="liveClock">
         <canvas/>
        </div>
      </div>
      <h3 id="std"></h3>
      <table>
        <tr>
          <td>City</td>
          <td>{{page.heading | replace: '_',' '}}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{page.name}}</td>
        </tr>
        <tr>
          <td>ISO Code</td>
          <td>{{page.iso}}</td>
        </tr>
        <tr>
          <td>Standard time</td>
          <td>{{page.utc}}</td>
        </tr>
        <tr>
          <td>Greenwich Mean Time</td>
          <td id="gmt"></td>
        </tr>
        <tr>
          <td>Timezone Identifier</td>
          <td>{{page.timezone}}</td>
        </tr>
      </table>
    </div>
    {{content}}
    {% include 8citytime.html %}
  </article>
  {% include footer.html %}
  <script>
    const timenow=document.querySelector("#timenow"),ft=document.querySelector("#ft"),std=document.querySelector("#std"),gmt=document.querySelector("#gmt"),timeZone="{{page.timezone}}";function currentTime(){timenow.innerText=new Date().toLocaleString("en-us",{timeZone,timeStyle:"medium"})}currentTime(),setInterval(()=>currentTime(),1e3);const fulldate=new Date().toLocaleString("en-us",{timeZone,dateStyle:"full"});ft.innerText=fulldate;const stdTime_f=new Date().toLocaleString("en-au",{timeZone,timeStyle:"full"}).slice(11),stdTime_s=new Date().toLocaleString("en-au",{timeZone,timeStyle:"long"}).slice(11);std.innerText=`${stdTime_f} (${stdTime_s})`,gmt.innerText=stdTime_s
  </script>
</body>
</html>